/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li {
    margin-right: 40px;
}
li a {
    color: black;
    font-size: 20px;
}
.a-hover:hover {
    color: red;
}
/* section-1 */
.div-bg {
    background-image: url(../images/img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 613px;
    max-width: 1640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.div-title {
    position: absolute;
    background-color: white;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 674px;
    width: 100%;
    height: 328px;
}
.title-h1 {
    font-size: 40px;
    color: #707070;
    margin-bottom: 54px;
}
.title-p {
    margin-bottom: 34px;
    font-size: 24px;
    color: #707070;
    padding-left: 34px;
}
.div-readmore {
    display: flex;
    justify-content: space-between;
    padding-left: 34px;
}
.div-readmore p {
    margin-right: 412px;
}
/* section-2 */
.section-2 {
    margin-top: 130px;
    margin-bottom: 269px;
}
.div-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1349px;
    width: 100%;
}
.div-small {
    max-width: 400px;
    width: 100%;
    margin-right: 20px;
    background-color: #FFFFFF;
}
.div-small img {
    width: 100%;
}
.title {
    margin-bottom: 71px;
    font-size: 40px;
}
.title-h5 {
    margin-top: 31px;
    margin-bottom: 40px;
}
.p-2 {
    max-width: 446px;
    width: 100%;
}
.p-more {
    text-align: right;
    margin-top: 88px;
}
/* footer */
.footer {
    background-color: #2E2E2E;
    max-width: 1349px;
    width: 100%;
    height: 150px;
    margin-top: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer img {
    padding: 50px;
}
.div-footer {
   display: block;
}
.footer p {
    color: white;
    font-size: 20px;
}
.icon-fb {
    background-color: white;
    color: black;
    font-size: 40px;
    margin-right: 33px;
}
.icon-fb:hover {
    color: blue;
}
.icon-instagram {
     background-color: white;
     color: black;
     font-size: 40px;
     margin-right: 140px;
}
.icon-instagram:hover {
    color: crimson;
}
/* Page2 */
.div-bg2 {
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 608px;
    max-width: 1640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-form {
    padding-left: 90px;
    margin-top: 50px;
}
.input-form {
    max-width: 730px;
    width: 100%;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-form {
    padding-left: 90px;
}
.btn {
    background-color: black;
    max-width: 150px;
    width: 100%;
    height: 50px;
    color: white;
}